//====================================================================================================
.footer {
    padding: 0px 0 36px 0;
    // border-top: 1px solid #000;
    background: rgb(251, 252, 252);

    &__container {
    }

    &__wrapper {
        padding-top: 60px;
        border-top: 1px solid rgb(222, 223, 225);
        max-width: 890px;
       
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 250px;
        margin-bottom: 77px;
        @media (max-width:$tablet){
            gap: 0 100px;
        }
        @media (max-width:$mobile){
             gap: 0 30px; 
             margin-bottom: 40px;
        }
        @media (max-width: em(630)){
              flex-direction: column;

        }
    }

    &__logo {
        color: rgb(49, 53, 59);
        font-family: Manrope;
        font-size: 23px;
        font-weight: 800;
        line-height: 31px;
        @media (max-width: em(630)){
            margin-bottom: 20px;
      }
    }

    &__menu {

    }

    &__copy {
        text-align: center;

        color: rgb(49, 53, 59);
        font-family: DM Sans;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;

    }
}
.menu-footer {
    
    &__list {
        display: flex;
        gap: 45px;
        @media (max-width:$mobile){
            gap: 0 30px; 
       }
       @media (max-width: em(630)){
       flex-wrap: wrap;
       gap: 20px 30px; 
       justify-content: center;
        }
    }

    &__item {
    }

    &__link {
        font-weight: 700;
        font-size: 13px;
        line-height: 17px;

        color: rgb(49, 53, 59);
        font-family: DM Sans;
        @media (any-hover: hover){
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

//====================================================================================================
